{% macro form_macro(form, action, method="post") %}
<form method="{{ method }}" action="{{ action }}" enctype="multipart/form-data">
    {% for field in form -%}
    {% if field.type == 'SeparatorField' %}
    <h2>{{field.label.text}}</h2>
    {% elif field.type != 'CSRFTokenField' and field.type != 'SubmitField' and field.type != 'HiddenField' %}
    <label class="{{field.type}} {{field.render_kw.class}}">
        {%- if field.type != 'SubmitField' -%}
        <span>{{field.label.text}}</span>
        {%- endif -%}

        {% if field.type == 'RadioField' %}
        <div class="radio-options">
            {% for subfield in field %}
            <label>
                {{ subfield }} <span>{{subfield.label.text}}</span>
            </label>
            {% endfor %}
        </div>
        {% else %}
        {{ field(class_=('has-error' if field.errors else '')) }}
        {% endif %}
        
        {% if field.description %}
        <small>{{field.description}}</small>
        {% endif %}
    </label>

    {%- for err in field.errors -%}
    <p class="notification is-important">{{ err|e }}</p>
    {%- endfor -%}
    {% endif %}
    {% endfor -%}

    {% for field in form -%}
        {% if field.type == 'CSRFTokenField' and method != 'get' %}
            {{ field() }}
        {% endif %}
    {% endfor %}

    <div class="buttons">
        {% for field in form -%}
            {% if field.type == 'SubmitField' %}
                {% if field.description %}
                <div style="flex: 0 0;">
                {% endif %}
                {% if field.render_kw and "class_" in field.render_kw %}
                {{ field() }}
                {% else %}
                {{ field(class_="button is-primary") }}
                {% endif %}
                {% if field.description %}
                <small>{{field.description}}</small>
                </div>
                {% endif %}
            {% endif %}
        {% endfor -%}
    </div>
</form>
{% endmacro %}