{% extends "layout.html" %}
{% block title %}{{title}}{% endblock%}

{% block bare_body %}

<style>
    .markdown-columns {
        column-gap: 2%;
        padding: 2%;
    }
    @media screen and (min-width: 1400px) {
        .markdown-columns {
            columns: 2;
        }
    }
    @media screen and (min-width: 1900px) {
        .markdown-columns {
            columns: 3;
        }
    }
    h2 {
        margin-top: 8px !important;
    }
    p {
        line-height: 125%;
        margin-top: 4px !important;
        margin-bottom: 4px;
    }
    @media print {
        .markdown-columns {
            columns: 3;
        }
        * {
            font-size: 6.4pt !important;  
        }
        .markdown-columns pre {
            max-height: none;
            overflow: hidden;
            page-break-before: avoid;
            /* page-break-inside: avoid; */
        }
        .markdown-columns p {
            page-break-before: avoid;
        }
    }
</style>
<main class="content markdown-columns">
    {{ body | markdown | safe}}
</main>

{% endblock %}